.card {
  width: 83%;
  max-width: 35rem;
  height: 22.2rem;
  border-radius: 1rem;
  margin-top: 2.4rem;
  background: #fff;
  padding: 2.4rem 2.7rem;
  filter: drop-shadow(1px 4px 10px rgba(163, 164, 174, 0.25));
}

.card h1 {
  font-weight: 600;
  font-size: 19.8px;
  line-height: 30px;
  color: #4c4e61;
}

.card p {
  font-weight: normal;
  font-size: 13.2px;
  line-height: 22px;
  color: #a3a5ae;
  margin-top: 0.4rem;
  margin-left: 0.1rem;
}

.card img {
  margin-top: 3.3rem;
  margin-right: 0.1rem;
  float: right;
  height: 5.7rem;
}

.color-cyan {
  border-top: 3px solid #45d3d3;
}

.color-red {
  border-top: 3px solid #ea5353;
}

.color-orange {
  border-top: 3px solid #fcaf4a;
}

.color-blue {
  border-top: 3px solid #549ef2;
}

@media (min-width: 1200px) {
  .card {
    width: 100%;
    max-width: 35rem;
    height: 25rem;
    padding: 2.8rem 3.25rem;
  }

  .card p {
    font-weight: normal;
    font-size: 13.2px;
    line-height: 22px;
    color: #a3a5ae;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .card img {
    margin-top: 4rem;
    margin-right: 0rem;
    float: right;
    height: 6.4rem;
  }

  .color-orange {
    margin-top: 3rem;
  }
  .color-blue {
    margin-left: -3.8rem;
  }
}
