* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Poppins;
}

.conteiner {
  width: 100%;
  height: 136rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.content {
  width: 100%;
  height: 126rem;

  background: #fafafa;
}

.header {
  width: 100%;
  height: 24rem;
  padding: 3rem;
  background: #fafafa;
}

.header h1 {
  font-weight: 300;
  /* font-size: 24px; */
  font-size: 6.4vw;
  /* line-height: 34px; */
  line-height: 9.066666666666666vw;
  color: #4c4e61;
  margin: 0.4rem 0 0 0.8rem;
}

.header h1 span {
  font-weight: 600;
  /* font-size: 24.2px; */
  font-size: 6.453333333333333vw;
  /* line-height: 34px; */
  line-height: 9.066666666666666vw;
  color: #4c4e61;
  margin: 0.4rem 0 0 0.2rem;
}

.header p {
  font-weight: normal;
  /* font-size: 15.2px; */
  font-size: 4.053333333333333vw;
  /* line-height: 25px; */
  line-height: 6.666666666666667vw;
  text-align: center;
  color: #a3a5ae;
  margin: 1.6rem 0.7rem 0.9rem 0.65rem;
}

.fieldCards {
  width: 100%;
  height: 102rem;
  padding: 0.8rem 3.2rem 2.8rem 3.2rem;
}

.field1,
.field2,
.field3 {
  width: 100vw;
}

@media (min-width: 375px) {
  .header h1 {
    font-size: 24px;
    line-height: 34px;
  }

  .header h1 span {
    font-size: 24.2px;
    line-height: 34px;
  }

  .header p {
    font-size: 15.2px;
    line-height: 25px;
  }
}

@media (min-width: 540px) {
  .header h1 {
    text-align: center;
  }

  .header h1 span {
    text-align: center;
  }
  .field1,
  .field2,
  .field3 {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .conteiner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
  }

  .content {
    width: 100%;
    max-width: 120rem;
    height: 100vh;
    max-height: 80rem;
    background: #fafafa;
  }

  .header {
    width: 100%;
    max-width: 120rem;
    height: 23rem;
    padding: 0;
    background: #fafafa;
  }
  .header h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 54px;
    margin: 1.7rem 0 0 0;
  }
  .header h1 + h1 {
    margin: -0.1rem 0.3rem 0 0;
  }
  .header h1 span {
    font-size: 36.2px;
    line-height: 42px;
  }

  .header p {
    font-size: 15.2px;
    line-height: 25px;
    padding: 0 34.6rem;
    margin: 1.4rem 0 0 0;
  }

  .fieldCards {
    width: 100%;
    max-width: 120rem;
    height: 56rem;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
